.m-breadcrumbs {
  color: rgb(var(--color-text));
}
.m-breadcrumbs__item--manual .m-breadcrumbs__link {
  position: relative;
  margin-left: 2rem;
}
.m-breadcrumbs__item--manual .m-breadcrumbs__chevron {
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}
.m-breadcrumbs__item--manual .m-breadcrumbs__chevron .icon {
  margin: 0;
}
.m-breadcrumbs__list {
  margin: 2rem 0;
}
.m-breadcrumbs__link {
  font-size: var(--body-fs-sm);
  line-height: var(--body-lh-sm);
  letter-spacing: 0.03rem;
  font-weight: 400;
}
.m-breadcrumbs__link:not(span) {
  color: currentColor;
  text-decoration: none;
  transition: opacity 0.35s ease;
}
.m-breadcrumbs__link:not(span):hover {
  opacity: 0.8;
}
.m-breadcrumbs__chevron .icon {
  display: block;
  width: 1.2rem;
  height: auto;
  margin: 0 1rem;
  margin-top: 0.3rem;
}
