.m-cart-drawer {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}
.m-cart-drawer.animate .m-cart-drawer__content {
  transition: transform var(--default-transition-timing) var(--default-transition-easing), opacity var(--default-transition-timing) var(--default-transition-easing), visibility 0s var(--default-transition-timing) var(--default-transition-easing);
}
.m-cart-drawer.active {
  pointer-events: auto;
}
.m-cart-drawer.active .m-cart-drawer__content {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  transition: transform var(--default-transition-timing) var(--default-transition-easing), opacity var(--default-transition-timing) var(--default-transition-easing), visibility 0s;
}
.m-cart-drawer.is-empty .m-cart-drawer__items,
.m-cart-drawer.is-empty .m-cart-drawer__footer {
  display: none;
}
.m-cart-drawer__content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  height: 100%;
  width: 100vw;
  max-width: 45rem;
  overflow: hidden;
  flex-direction: column;
  transform: translate(100%);
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 1100px) {
  .m-cart-drawer__content {
    max-width: 30rem;
    min-width: 20%;
  }
}
.m-cart-drawer__header {
  justify-content: center;
  padding-top: 5.5rem;
  padding-bottom: 1.5rem;
  margin: 1.5rem;
}
.m-cart-drawer__header.grid {
  width: auto;
}
.m-cart-drawer__heading, .m-cart-drawer__total-label {
  margin-bottom: 0;
}
.m-cart-drawer__close {
  padding: 0;
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
  z-index: 1;
}
.m-cart-drawer__close .icon {
  display: block;
}
.m-cart-drawer__items, .m-cart-drawer__empty {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.m-cart-drawer .cart-drawer__form, .m-cart-drawer__upsell {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.m-cart-drawer__upsell {
  margin-top: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.m-cart-drawer__upsell-heading {
  padding-bottom: 1rem;
}
.m-cart-drawer__footer > div:first-child {
  border-top: 1px solid rgb(var(--color-border));
}
.m-cart-drawer__tax-note {
  margin-top: 1rem;
}
.m-cart-drawer__totals {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.m-cart-drawer__total {
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.m-cart-drawer__actions {
  text-align: center;
}
.m-cart-drawer__actions .a-btn {
  width: 100%;
  display: block;
}
.m-cart-drawer__actions .a-link {
  margin: 1rem auto;
}
.m-cart-drawer__error {
  color: rgb(var(--color-error));
}
.m-cart-drawer__footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
.m-cart-drawer__footer .m-accordion {
  margin-top: 0;
}
