.m-cart-item {
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.m-cart-item__image {
  max-width: 10rem;
}
.m-cart-item__image img {
  width: 100%;
  height: auto;
  display: block;
}
.m-cart-item__content {
  flex: 1;
  flex-direction: column;
}
.m-cart-item__title a {
  text-decoration: none;
}
.m-cart-item__quantity.a-input {
  margin: 0;
}
.m-cart-item__price {
  text-align: right;
}
.m-cart-item__discount {
  justify-content: flex-end;
  font-size: var(--body-fs-xs);
  line-height: var(--body-lh-xs);
  gap: 0.2rem;
}
.m-cart-item__discount .icon {
  width: 1.2rem;
  height: 1.2rem;
}
.m-cart-item__information {
  justify-content: space-between;
}
.m-cart-item__actions {
  justify-content: space-between;
  margin-top: auto;
  padding-top: 1.5rem;
}
.m-cart-item__remove button {
  padding: 0;
  line-height: 2.4rem;
}
.m-cart-item__remove .icon {
  width: 2rem;
}
.m-cart-item__error {
  color: rgb(var(--color-error));
  margin-top: 0.5rem;
}
