.o-contact-form__form {
  order: 2;
}
.o-contact-form__info {
  order: 1;
}
@media screen and (min-width: 990px) {
  .o-contact-form__form:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__form--left, .o-contact-form__form:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__info--left, .o-contact-form__info:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__form--left, .o-contact-form__info:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__info--left {
    order: 1;
    padding-right: 2rem;
  }
  .o-contact-form__form:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__form--right, .o-contact-form__form:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__info--right, .o-contact-form__info:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__form--right, .o-contact-form__info:not(.o-contact-form__grid-item--desktop_fw).o-contact-form__info--right {
    order: 2;
    padding-left: 2rem;
  }
}
.o-contact-form__grid--centered {
  flex-direction: column;
}
.o-contact-form__error {
  display: block;
  padding: 1rem;
  background-color: rgb(var(--color-error));
}
.o-contact-form__error a {
  text-decoration: none;
  font-weight: 700;
}
