@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
    background: rgb(var(--color-white));
  }
  .print-link {
    display: none;
  }
  .t-gift-card__image {
    max-width: 40rem;
  }
  #preview-bar-iframes {
    display: none;
  }
  .no-print {
    display: none;
  }
}
