@media screen and (min-width: 1100px) {
  .o-product__inner {
    max-width: 70%;
    margin-left: 20%;
  }
}
.o-product__media {
  margin-bottom: 0;
  margin-left: calc(var(--layout-site-padding) * -1);
  margin-right: calc(var(--layout-site-padding) * -1);
}
@media screen and (min-width: 768px) {
  .o-product__media {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .o-product__media {
    min-width: 100%;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .o-product__media--right {
    order: 2;
  }
  .o-product__media--right + .o-product__information {
    padding-left: 0;
    padding-right: 3rem;
  }
}
.o-product__content.grid {
  display: block;
}
@media screen and (min-width: 768px) {
  .o-product__content.grid {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .o-product__information {
    padding-left: 3rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .o-product__information {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .o-product__information {
    padding-left: 3rem;
  }
}
.o-product__information--sticky {
  position: sticky;
  top: var(--announcement-total-height);
  align-self: flex-start;
  overflow-y: auto;
  transition: top var(--default-transition-easing) var(--default-transition-timing);
}
.o-product__breadcrumbs .m-breadcrumbs__list {
  margin: 2.4rem 0 0.5rem 0;
}
.o-product__title {
  display: flex;
  position: relative;
  padding-right: 42px;
}
.o-product__title h1 {
  margin-bottom: 0;
}
.o-product__title #swym-atw-button-container {
  position: absolute;
  top: 0;
  right: 0;
  max-height: var(--h3-lh);
  display: flex;
}
.o-product__title .atw-button-icon path {
  fill: #fff;
  stroke: #1D1D1D;
} 
.o-product__title .atw-button-add,
.o-product__title .atw-button-added {
  background: transparent;
}
.o-product__title .atw-button-added .atw-button-icon path {
  fill: #1D1D1D;
  stroke: #1D1D1D;
} 
.o-product__title .atw-button-icon {
  width: 18px;
  height: 18px;
  display: block;
}
.o-product__share {
  gap: 1rem;
}

body.u-sticky-header-hidden .o-product__information--sticky, body.u-no-sticky-header .o-product__information--sticky {
  top: 0;
}


