.t-password__socials .m-list-social {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.template-password {
  padding-top: 0;
}
.template-password .o-header__main {
  padding: 0 var(--layout-site-padding);
}
.template-password .o-header__main-inner {
  flex-direction: row;
  align-items: center;
  min-height: 6rem;
}
.template-password .o-header__utilities {
  display: flex;
  flex-direction: row;
}
.template-password .o-header__utility .icon {
  display: block;
}
.template-password .o-footer__content-bottom {
  margin: 0;
}
.template-password .o-footer__content-bottom p {
  margin-bottom: 0;
}
