.m-password-modal--visible .m-password-modal__content {
  visibility: visible;
  pointer-events: all;
  transition-duration: 0.3s, 0s;
  transition-delay: 0.1s, 0s;
}
.m-password-modal--visible .m-password-modal__content {
  opacity: 1;
}
.m-password-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2500;
  width: calc(100% - var(--layout-site-padding) * 2);
  max-width: 45rem;
  background-color: rgb(var(--color-background));
  padding: 4rem 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease 0.1s, visibility 0s linear 0.4s;
}
@media screen and (min-width: 768px) {
  .m-password-modal__content {
    padding: 4rem;
  }
}
.m-password-modal__close {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}
.m-password-modal__errors {
  color: rgb(var(--color-error));
}
.m-password-modal__input {
  flex: 1;
}
